* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.header__container__box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__container__box__marca__titulo {
    font-size: 32px;
}

.header__container__box__marca__paragrafo {
    color: #2f86d6;
    font-size: 16px;
    font-weight: bold;
}

.header__container__box__img {
    width: 80px;
}

.header__container__nav__lista {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    gap: 20px;

}

.header__container__nav__lista__link {
    font-size: 18px;
    color: #233032;
    text-decoration: none;
    font-weight: bold;
}

.informacao {
    background-color: #2f86d6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 180px 0;
    flex-wrap: wrap;
}

.informacao__container {
    width: 470px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.informacao__container__titulo {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}

.informacao__container p {
    color: #fff;
    font-size: 16px;
}

.primeiro__anuncio {
    background-color: #233032;
    display: flex;
    padding: 40px 0;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

}

.primeiro__anuncio__container__titulo {
    font-size: 24px;
    color: #fff;
}

.primeiro__anuncio__container__texto {
    width: 600px;
    color: #fff;
}

.primeiro__anuncio__container__link {
    padding: 20px;
    background-color: #2f86d6;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
}

.primeiro__anuncio__container__link a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.hospedagem {
    max-width: 1024px;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;

}

.hospedagem__titulo {
    font-size: 32px;
    width: 900px;
    margin-bottom: 60px;
    width: 100%;

}

.hospedagem__container__box__subtitulo {
    font-size: 18px;
}

.hospedagem__container__box__paragrafo {
    font-size: 16px;
}

.hospedagem span {
    color: #2f86d6;
}

.hospedagem__container {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 1024px;


}

.hospedagem__container div {
    width: 33%;
}

.hospedagem__container img {
    width: 33%;
}

.hospedagem__container__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.tabela {
    background-color: #f1f3f7;
    padding-top: 80px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.tabela__container {
    text-align: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto 40px auto;
    box-shadow: 0px 0px 60px #186dbd;
    padding: 30px;
    display: table-header-group;

}

.tabela__titulo {
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
}

.tabela__titulo span {
    color: #2f86d6;
}

.tabela__subtitulo {
    font-size: 18px;
    margin-bottom: 20px;

}

.tabela__paragrafo {
    color: #a89f9f;
    font-size: small;
    width: 150px;
    margin: 0 auto;
}

.tabela__img {
    max-width: 100%;
    width: 120px;
}

.tabela__linha__impar {
    font-size: 16px;
    padding: 15px 40px;
    background-color: #f6f6f6;
}

.tabela__linha__par {
    padding: 15px 40px;
    background-color: #f1f3f7;
}

.segundo-anuncio {
    display: flex;
    padding: 40px 0;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2f86d6;
    flex-wrap: wrap;
    gap: 1.25rem;

}

.segundo-anuncio__titulo {
    width: 600px;
    color: #fff;
    font-size: 24px;

}

.segundo-anuncio__container__link {
    padding: 20px;
    background-color: #233032;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
}

.segundo-anuncio__container__link a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.rodape__box-titulo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.rodape__box-titulo img {
    width: 120px;
}

.rodape__box-contato {
    text-align: center;
    margin-bottom: 40px;
}

.rodape__box-dev {
    background-color: #f1f3f7;
    width: 100%;
    padding: 20px;
    text-align: center;
}